//foundation
@use "./foundation/base";
@use "./foundation/reset";
@use "./foundation/mixin";

//layout
@use "./layout/l-main";

//project
@use "./object/project/p-header";
@use "./object/project/p-hero";
@use "./object/project/p-about";
@use "./object/project/p-line";
@use "./object/project/p-config";
@use "./object/project/p-line-add";
@use "./object/project/p-quiz-hero";
@use "./object/project/p-quiz";
@use "./object/project/p-footer";

//utility
@use "./object/utility/u-display";
